.fa {
    cursor: pointer;
}

.pencil-label {
    font-size: 1.5em;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.form-group button {
    width: 50%;
    align-self: flex-end;
}

.not-edit {
    background-color: transparent;
    border: 0;
    box-shadow: none;
}