<ng-template #loading>
  <div class="text-center">
    <i class="fa fa-spin fa-spinner fa-5x"></i>
    <br>
    Loading bandinfo...
  </div>
</ng-template> 

<div *ngIf="bandinfoAvailable; else loading"  class="container">
  <div class="pull-left well" [ngStyle]="{ width: '48%' }">
    <div class="pull-right">
      <label 
        (click)="editPressed()"
        class="pencil-label"
        ><span>
            <i *ngIf="!isEditting"
            class="fa fa-pencil" 
            aria-hidden="true"
          ></i>
          <i *ngIf="isEditting"
            class="fa fa-times"
            aria-hidden="true"
          ></i>
        </span>
      </label>
    </div>
    <br>
    <form #bandinfoForm="ngForm" (ngSubmit)="saveBandinfoPressed(bandinfoForm)">
    <div class="form-group">
        <label>Band name</label>
        <input 
          class="form-control"
          type="text" 
          [(ngModel)]="bandinfo.bandName" 
          name="bandName"
          [disabled]="!isEditting" 
          [ngClass]=" isEditting ? 'edit' : 'not-edit' " 
          required>
      </div>
      <br>
      <div class="form-group">
        <label>Phone number</label>
        <input 
          class="form-control"
          type="tel" 
          [(ngModel)]="bandinfo.bandPhone"
          name="bandPhone"
          minlength="8"
          maxlength="8"
          [disabled]="!isEditting"
          [ngClass]=" isEditting ? 'edit' : 'not-edit' " 
          required>
      </div>
      <br>
      <div class="form-group">
        <label>E-mail</label>
        <input 
          class="form-control"
          type="text" 
          [(ngModel)]="bandinfo.bandMail"
          name="bandMail"
          [disabled]="!isEditting"
          [ngClass]=" isEditting ? 'edit' : 'not-edit' " 
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          required>
      </div>
      <br>
      <div>  
        <label>Primary Gearlist</label>
        <select class="form-control" [disabled]="!isEditting" [(ngModel)]="list" name="list" id="" (change)="listPressed(list)" >
          <option *ngFor="let list of gearList" [ngValue]="list">{{ list.name }}</option>
        </select>
      </div>
      <br>
      <div class="form-group">
          <label>Description</label>
          <textarea 
            class="form-control" 
            [(ngModel)]="bandinfo.bandDescription"
            name="bandDescription" 
            id="" 
            cols="20" 
            rows="5" 
            [disabled]="!isEditting">Mutts is........
          </textarea>
      </div>
      <br>
      <div class="form-group">
        <label>Press release</label>
        <textarea  
          class="form-control" 
          [(ngModel)]="bandinfo.bandPressRelease"
          name="bandPressRelease" 
          id="" 
          cols="20" 
          rows="5" 
          [disabled]="!isEditting">Mutts is........
        </textarea>
      </div>
      <div class="form-group">
        <button *ngIf="isEditting"
          class="btn btn-success"
          type="submit"
          [disabled]="!bandinfoForm.valid">
          <span><i class="fa fa-floppy-o" aria-hidden="true"></i></span> Save
        </button>
      </div>
    </form>
  </div>
  <div class="well pull-right" [ngStyle]="{ width: '48%' }">
    <div class="wrapper-container">
        <app-bandmember 
          *ngFor="let member of bandMembers" 
          [bandMember]="member"
          [edit]="member.edit"
        ></app-bandmember>
    </div>
    <br>
    <div class="add-member">
      <button class="btn btn-success pull-right" (click)="addPressed()" >
        <span><i class="fa fa-plus" aria-hidden="true"></i></span> Add bandmember</button>
    </div>
  </div>
</div>