<app-homepage-header></app-homepage-header>
<router-outlet></router-outlet>

<!-- <div>
    <button class="btn btn-primary" (click)="openDialog()">Open Dialog</button>
</div> -->

<!-- ALERTS -->

<!-- <div class="col-md-10 col-md-offset-1 text-center">
        <h1>Angular 2/4 Alerts</h1>
        <button class="btn btn-success" (click)="success('Success!!')">Success</button>
        <button class="btn btn-danger" (click)="error('Error :(')">Error</button>
        <button class="btn btn-info" (click)="info('Some info....')">Info</button>
        <button class="btn btn-warning" (click)="warn('Warning: ...')">Warn</button>
        <button class="btn btn-default" (click)="clear()">Clear</button>
</div>
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->

<!-- <button class="btn btn-primary" (click)="test()">Toggle</button>
<div [@myAnimation]="active">
    <h1>I'm triggered</h1>
</div> -->