<div class="container">
  <div class="well">
    <!-- Event name, startdate, enddate, (color), gearlist -->
    <div>
      <label for="eventName">Event</label>
      <input class="form-control" type="text">
      <br>
      <label for="startDate">startDate</label>
      <input class="form-control" type="text">
      <br>
      <label for="endDate">endDate</label>
      <input class="form-control" type="text">
      <br>
      <label for="color">Color</label>
      <input class="form-control" type="text">
      <br>
      <label for="gearList">GearList</label>
      <select class="form-control" name="" id="">
        <option value="">Gealist</option>
      </select>
    </div>
  </div>

  <!-- tasks : Before, During, after -->
  <div class="well">
    <div>
      <ul class="nav nav-tabs">
        <li><a routerLinkActive="active">Before</a></li>
        <li><a routerLinkActive="active">During</a></li>
        <li><a routerLinkActive="active">After</a></li>
      </ul>
    </div>
    <app-dashboard></app-dashboard>
  </div>
</div>